## import data

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("thoughtvector/customer-support-on-twitter")

print("Path to dataset files:", path)

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("minhaozhang1/reddit-mbti-dataset")

print("Path to dataset files:", path)

In [27]:
# move file from /home/arvind/.cache/kagglehub/datasets/thoughtvector/customer-support-on-twitter/versions/10 to /home/arvind/personal-projects/riverline/backend/data
!mv /home/arvind/.cache/kagglehub/datasets/thoughtvector/customer-support-on-twitter/versions/10 /home/arvind/personal-projects/riverline/backend/data

In [37]:
!mv /home/arvind/.cache/kagglehub/datasets/minhaozhang1/reddit-mbti-dataset/versions/3 /home/arvind/personal-projects/riverline/backend/data

# Data Exploration

In [28]:
df =pd.read_csv(r'/data/10/twcs/twcs.csv')

In [29]:
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [30]:
df.columns

Index(['tweet_id', 'author_id', 'inbound', 'created_at', 'text',
       'response_tweet_id', 'in_response_to_tweet_id'],
      dtype='object')

In [35]:
# get first 5 rows of text column fully
pd.set_option('display.max_colwidth', None)
df["text"][:5]

0       @115712 I understand. I would like to assist you. We would need to get you into a private secured link to further assist.
1                                                                                   @sprintcare and how do you propose we do that
2                                              @sprintcare I have sent several private messages and no one is responding as usual
3    @115712 Please send us a Private Message so that we can further assist you. Just click ‘Message’ at the top of your profile.
4                                                                                                              @sprintcare I did.
Name: text, dtype: object

In [39]:
unique_author_df = pd.read_csv('data/3/unique_author.csv')
reddit_df = pd.read_csv('data/3/reddit_post.csv')

In [40]:
unique_author_df.head()

             author  mbti
0    LadyBanterbury  INFP
1           Finarin  INTP
2         xanplease  INFP
3   HeirToGallifrey  ENTP
4  ElementalVoltage  INTP

In [41]:
reddit_df.head()

,author,body,mbti
0,LadyBanterbury,lol thats why i left,INFP
1,Finarin,i was just about to post i try telling people all the time that im always joking unless i say i am being serious right now and they still dont catch on! but here youve already figured out the secret its like you know me,INTP
2,xanplease,my first thought was pepsi or something probably not alcohol,INFP
3,HeirToGallifrey,not if the formula is something like every time it says do add 5 bpm then it would be arithmetic,ENTP
4,ElementalVoltage,well i wouldnt know but i think theres a lot of potential to it if the technology develops in image awareness we can have cameras that can detect when a child is drowning in a swimming pool search for victims in a natural calamity have cars detect other vehicles to prevent car accidents and even more useful stuff,INTP

In [45]:
# see if author of unique_author_df is present in df if so list them

unique_author_df[unique_author_df["author"].isin(df["author_id"])].head()

      author  mbti
5609  820131  ESTP

In [49]:
# check if '820131' exists in author column or reddit_df display those rows
reddit_df[reddit_df['author'].str.contains('820131')]

,author,body,mbti
41652,820131,this looks freaking awesome! kudos,ESTP
105501,820131,if you ever try please let me know! would love to hear about your experience d,ESTP
110497,820131,i was hoping for someone to cut the strings,ESTP
119177,820131,bored on a wednesday night peace? link gone!,ESTP
217609,820131,i put my retainers aside for 23 weeks when i started wearing them again it felt like i had braces on all over again and the pain lasted for 2 full weeks,ESTP
...,...,...,...
12721346,820131,most people avoid tasting it by trying to throw it straight down their throat avoiding the tongue as much as possible,ESTP
12878532,820131,this got dark pretty fast,ESTP
12890957,820131,i just pulled this from on her thread here gt some ingredients also simply irritate otherwise normal skin and dry it out causing a vicious cycle of moisturization gt drier skin gt moisturization i have been using good alcohols for my skin for over 2 years now and only just now that ive tried the belif cream where alcohol denat was present is when my skin started to burn of course different skin types can handle it more than others but well knowing that alcohol denat is a bad alcohol im wondering if others have experienced the same burning effect,ESTP
12924264,820131,thats at planet fitness,ESTP
13009878,820131,pretty popular here in s california since last week,ESTP